<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>vote an article</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js">
    </script>
  </head>
  <body>
    <div class="container">
    {% if get_flashed_messages() %}
      <p class=flashes>
          {% for message in get_flashed_messages() %}
              {{ message }}
          {% endfor %}
      </p>
    {% endif %}
    <h1>发表文章</h1>
    <form  action="/" method="post">
        文章题目: <input type="text" name="title"> <br>
        文章链接: <input type="text" name="link"> <br>
        文章作者: <input type="text" name="author"> <br>
       <input type="submit" name="" value="发表">
    </form>


    {% if  articles%}

    <h1>最新文章</h1>
     {% for article in articles %}
        <div style="float:left">
          <ul>
            <li >
              <span class="glyphicon glyphicon-thumbs-up" id="art{{article.index}}" aria-hidden="true" onclick="sendvote(this)">
              </span>
              <!-- {{article.index}}  -->文章：{{article.title}} </li>
            <li>作者：{{article.author}}</li>
            <li>发表日期：{{article.time}} {{article.uptime}}</li>
            <li>链接：{{article.link}}</li>
          </ul>
        </div>
        <div style="float:left">
          支持:<span id="vote{{article.index}}">{{article.vote}}</span>
        </div>
        <div class="" style="clear:left;"></div>

     {% endfor %}
     <div >
       {% if pagenav.pre%}
         {% for page in pagenav.pre %}
           <!-- pre -->
            <a href="/page/{{page}}">{{page}}</a>
         {% endfor %}
       {% endif%}
       {{pagenav.cur}}
       {% if  pagenav.next%}
        {% for page in pagenav.next %}
        <!-- next -->
           <a href="/page/{{page}}">{{page}}</a>
        {% endfor %}
       {% endif%}
     </div>
    {% endif %}
    {%if top_article%}
    <h1>热们文章</h1>

    <ul>
       {% for article in top_article%}
        <li>{{article}}</li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
<script type="text/javascript">
  function sendvote(e)
  {
    // console.log(e.id);
    // send get to flask server
      $.ajax({
    url: "/api/vote/",
    data: "id="+e.id,
    success: success,
    dataType: "json"
  });
  }

  function success(response,status,xhr) {
    // console.log(response);
    var voteres=response["vote"];
    var voteid=voteres[0];
    var votescore=voteres[1];
    var vote_tag=document.getElementById(voteid);
    vote_tag.innerHTML=votescore;
    // console.log(vote_tag);
    // console.log(status);
  }
</script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
