<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>vote an article</title>
  </head>
  <body>
    {% if get_flashed_messages() %}
      <p class=flashes>
          {% for message in get_flashed_messages() %}
              {{ message }}
          {% endfor %}
      </p>
    {% endif %}
    <h1>发表文章</h1>
    <form  action="/" method="post">
        文章题目: <input type="text" name="title"> <br>
        文章链接: <input type="text" name="link"> <br>
        文章作者: <input type="text" name="author"> <br>
       <input type="submit" name="" value="发表">
    </form>

  </body>
</html>
